* {
  font-family: 'VT323';
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
body, html {
  background-color: #e0e0e0;
}
canvas {
  display: block;
  margin: auto;
}
span {
  font-size: 72px;
  font-weight: bold;
}
p {
  font-size: 24px;
  margin: 0;
}
@font-face {
  font-family: 'VT323';
}
.font-load {
  visibility: hidden;
}
.tech-pic {
  height: 200px;
  width: auto;
  margin-bottom: 20px
}
.technologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
